<div class="manage-home">
<a href="/patient" class="box">
  <h2 style="font-weight: 900; font-size: 25px">TÀI KHOẢN</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-users"></i
  ></span>
  <p>Danh sách các tài khoản</p>
</a>

<a href="/allproduct" class="box">
  <h2 style="font-weight: 900; font-size: 25px">SẢN PHẨM</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-dumpster-fire"></i
  ></span>
  <p>Danh sách các sản phẩm</p>
</a>

<a href="/allorders" class="box">
  <h2 style="font-weight: 900; font-size: 25px">ĐƠN HÀNG</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-chart-bar"></i
  ></span>
  <p>Danh sách các đơn hàng</p>
</a>
<a href="/statistics" class="box">
  <h2 style="font-weight: 900; font-size: 25px">THỐNG KÊ</h2>
  <span style="font-size: 35px"
    >01<i style="margin-left: 8px" class="fas fa-cube"></i
  ></span>
  <p>Thống kê các sản phẩm bán được</p>
</a>
</div>